{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
    <title>Planets</title>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top text-left">
      <a href="/">
        <img src="{% static 'images/earth.png' %}" alt="Planets"  height="42" width="42">
      Planets Database</a>
    </nav>
    <main class="container" role="main">
      <div class="panel-default">
        {% for planets in planets %}
        <div class="panel-body">
          <table class="planet-table">
            <tr>
              <th>{{planets.name}}</th>
            </tr>
            <tr>
              <td>Distance from Sun = {{ planets.distance }} km</td>
            </tr>
          </table>
        </div>
        {% endfor %}
      </div>
    </main>
  </body>
</html>
